beautifulsoup4==4.12.3
cachetools==4.2.4
certifi==2025.4.26
charset-normalizer==2.0.12
click==8.0.4
flake8==5.0.4
Flask==2.0.3
google-api-core==2.8.2
google-auth==2.22.0
google-cloud-pubsub==2.13.0
googleapis-common-protos==1.56.3
grpc-google-iam-v1==0.12.4
grpcio==1.74.0
grpcio-status==1.48.2
idna==3.10
importlib-metadata==4.2.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.7.0
proto-plus==1.23.0
protobuf==3.19.6
psycopg2-binary==2.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.9.1
pyflakes==2.5.0
python-dotenv==0.20.0
requests==2.27.1
rsa==4.9.1
six==1.17.0
soupsieve==2.3.2.post1
typing_extensions==4.1.1
urllib3==1.26.20
Werkzeug==2.0.3
zipp==3.6.0
